<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <th:block layout:fragment="head">
        <title>Crear Usuario</title>
    </th:block>
</head>

<body>
    <div layout:fragment="content" class="container mt-4">
        <h2>Crear Nuevo Usuario</h2>

        <form th:action="@{/usuario/save}" method="post">
            <div class="mb-3">
                <label for="usuario" class="form-label">Usuario</label>
                <input type="text" name="usuario" class="form-control" id="usuario" required />
            </div>

            <div class="mb-3">
                <label for="correo" class="form-label">Correo</label>
                <input type="email" name="correo" class="form-control" id="correo" />
            </div>

            <div class="mb-3">
                <label for="contrasenaEnc" class="form-label">Contraseña</label>
                <input type="password" name="contrasenaEnc" class="form-control" id="contrasenaEnc" required />
            </div>

            <div class="mb-3">
                <label for="idEstado" class="form-label">Estado</label>
                <select name="idEstado" class="form-control" id="idEstado" required>
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a th:href="@{/usuario}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>


    </div>

    <th:block layout:fragment="js">
    </th:block>
</body>

</html>