<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">

<head>
    <th:block layout:fragment="head">
        <title>Crear Cargo</title>
    </th:block>
</head>

<body>
    <div layout:fragment="content" class="container mt-4">

        <!-- Mostrar mensajes de éxito o error -->
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <h2>Crear Nuevo Cargo</h2>

        <form th:action="@{/cargo/save}" method="post">
            <div class="mb-3">
                <label for="nombreCargo" class="form-label">Nombre del Cargo</label>
                <input type="text" name="nombreCargo" class="form-control" id="nombreCargo" required />
            </div>

            <div class="text-end">
                <button type="submit" class="btn btn-primary">Guardar</button>
                <a th:href="@{/cargo}" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>

    <th:block layout:fragment="js">
    </th:block>
</body>

</html>